
body {font-family: Sans; font-size: 14px; margin: 1em;
}

h1 {
  text-stroke: 0.2em #000;
  color: #eee;
}
.navbar_wrap {
  margin:0;left: 0%;
  position: fixed; bottom: 0%;
  width: 100%;
  border: 4px solid red;
  background-color:#ff1;
}

p {border: 2px solid red; }
p:hover { border: 2px solid blue; }
p:active { border: 2px solid green; }

.navbar {
  color: red; 
  background-color:#ff1;
}

.navbar a {
  color: red;
  text-decoration: none;
}

tt { color: green; }

li:first-child {
  color: green;
}

/*li:nth-child(2n) {
  color: red;
}*/

li:nth-child(2) {
  color: blue;
}

a:hover { background: black; color: white; }


